.Apply {
  text-align: center;
}

.leaf-logo {
  animation: leaf-logo-spin infinite 10s linear;
  height: 80px;
  position: absolute;
  left: calc( 50% - 36px );
  top: 30px;
}

.Apply-header {
  background-color: #af5;
  height: 150px;
  padding: 20px;
  color: white;
}

.snoop-logo {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: calc( 50% - 72px );
  height: 180px;
}

.Apply .form-field input {
  padding: 4px;
  margin: 6px;
  border-radius: 7px;
}

.Apply .form-field select {
  background-color: white;
  padding: 4px;
  margin: 6px;
  border-radius: 7px;
}

.Apply .form-field select:active,
.Apply .form-field select:focus {
  outline: none;
}


@keyframes leaf-logo-spin {
  0% {
    z-index: 5;
    transform: translateX( 0 ) rotate3d( 0, 1, 0, 0 );
  }
  
  20% {
    z-index: 4;
    transform: translateX( -100% ) rotate3d( 0, 1, 0, 80deg );
  }
  25% {
    z-index: 3;
    transform: translateX( -120% ) rotate3d( 0, 1, 0, 90deg );
  }
  30% {
    z-index: 2;
    transform: translateX( -100% ) rotate3d( 0, 1, 0, 95deg );
  }

  40% {
    z-index: 1;
    transform: translateX( -50% ) rotate3d( 0, 1, 0, 150deg );
  }
  50% {
    z-index: 1;
    transform: translateX( 0 ) rotate3d( 0, 1, 0, 180deg );
  }
  60% {
    z-index: 1;
    transform: translateX( 50% ) rotate3d( 0, 1, 0, 210deg );
  }
  
  70% {
    z-index: 2;
    transform: translateX( 100% ) rotate3d( 0, 1, 0, 265deg );
  }
  75% {
    z-index: 3;
    transform: translateX( 120% ) rotate3d( 0, 1, 0, 270deg );
  }
  80% {
    z-index: 4;
    transform: translateX( 100% ) rotate3d( 0, 1, 0, 280deg );
  }

  100% {
    z-index: 5;
    transform: translateX( 0 ) rotate3d( 0, 1, 0, 360deg );
  }
}
